<nav>
  
</nav>

<!-- Mengirim ke orang lain -->
<div class="modal fade w-100" id="modalSend" tabindex="-1" aria-labelledby="modalUpload" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3" id="modalUpload">Send To Others</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-upload" action="/send-data" method="post" enctype="multipart/form-data">
          <div class="row mb-3">
            <label for="To_user" class="col-sm-4 col-form-label">To User :</label>
            <div class="col-sm-8">
              <select name="user_id" class="form-control" id="selectUser">
                <option value="">Pilih pengguna...</option>
                <% users.forEach(function(user) { %>
                  <option value="<%= user.user_id %>"><%= user.username %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="nama-dokumen" class="col-sm-4 col-form-label">Nama Dokumen</label>
            <div class="col-sm-8">
              <input type="text" id="nama-dokumen" name="name" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="deskripsi" class="col-sm-4 col-form-label">Deskripsi</label>
            <div class="col-sm-8">
              <input type="text" id="deskripsi" name="description" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="jabatan" class="col-sm-4 col-form-label">Jabatan</label>
            <div class="col-sm-8">
              <input type="text" id="jabatan" name="jabatan" class="form-control">
            </div>
          </div>
          <div class="row mb-2">
            <label for="file-dokumen" class="col-sm-4 col-form-label">File Dokumen</label>
            <div class="col-sm-8">
              <input class="input-file" type="file" id="file-dokumen" name="filename">
            </div>
          </div>
          
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-info text-white">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Button Kirim -->
<div class="top-document">
  <h3 class="mb-4 mx-2">Document Send</h3>
  <div class="btn-doc">
    <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#modalSend">
      Send 
    </button>
  </div>
</div>

<!-- Tabel -->
<div>
<table class="table">
  <thead>
      <th>Nama dokumen</th>
      <th>File</th>
      <th>Status</th>          
      <th>Tanggal</th>
      <th>Opsi</th>
    </tr>
  </thead>
  <tbody>
    <% documents.forEach(document => { %>
      <tr>
        <td><%= document.name %></td>
        <td><%= document.filename %></td>
        <td>Belum Ttd</td>
        <td><%= moment(document.created_at).format('LL') %></td>
        <td>
          <button type="button" class="btn btn-primary text-white mb-2" onclick="viewDocument(this)" data-document-link="/viewdocument?file=<%= document.filename %>">View</button> 
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</div>


<script>
document.getElementById('exampleModal').addEventListener('submit', function(event) {
  event.preventDefault();

  var form = event.target;
  var formData = new FormData(form);

  // Kirim data menggunakan AJAX
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/upload-data', true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        // Sukses mengirim data
        console.log('Data berhasil dikirim.');
        form.reset();
        closeModal();
      } else {
        // Terjadi kesalahan saat mengirim data
        console.error('Terjadi kesalahan saat mengirim data.');
      }
    }
  };
  xhr.send(formData);
});

function viewDocument(button) {
  var documentLink = button.getAttribute('data-document-link');
  window.open(documentLink, '_blank');
}

function closeModal() {
  var modal = document.getElementById('exampleModal');
  var modalInstance = bootstrap.Modal.getInstance(modal);
  modalInstance.hide();
}
</script>


